<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.RemoteControl"
      android:versionCode="18"
      android:versionName="1.1"
      android:installLocation="preferExternal">
      
      <supports-screens 
	      android:normalScreens="true" 
	      android:largeScreens="true" 
	      android:smallScreens="false"/>
      
      
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        
         <activity android:name=".main"
       			  android:configChanges="orientation"
                  android:label="@+string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="RemoteControlOverview"
                  android:launchMode="singleTask"></activity>
        
        <activity android:name=".RemoteControlSettings"
        		  android:launchMode="singleTask"></activity>
        		  
        <activity android:name="RemoteControlPlaylist"
        		  android:launchMode="singleTask"></activity>
        		  
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    
	<uses-feature android:name="android.hardware.touchscreen" android:required="true" />
	
<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4"></uses-sdk>
</manifest> 